<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register as Member</title>
</head>
<body>

<div>
    <a href="/">Home</a>
    |
    <a href="/login">login</a>
    |
    <a href="/member/register">register</a>
    |
    <a href="/logout">logout</a>
    |
    <a href="/partner/index">Partner Restaurant</a>
</div>

<h1>Register as Member</h1>
<form method="post">
    <div><input type="text" name="userName" placeholder="user name" required/></div>
    <div><input type="password" name="password" placeholder="password" required/></div>

    <div><button type="submit">Register</button></div>
</form>
</body>
</html>